@page
@model AwsomeSuperHeros.Pages.Hero.SuperHerosModel
@{
}

@foreach (var hero in Model.HeroList)
{
    <p>@hero.Name</p>
    <p>@hero.SecretIdentiy</p>
    <p>@hero.SuperPower</p>
    <a class="btn btn-primary" asp-route-hero="@hero" asp-page="/hero/edithero">Edit</a>
}
